@use "../abstracts/variables";
@use "../base/animations";

h2 {
  font-size: 1.4rem;
  color: variables.$secondary-color;
}
.map-section {
  margin: 4rem auto;
  max-width: 800px;
  text-align: center;

  input,
  button {
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  input {
    width: 30rem;
  }
  button {
    width: 10rem;
  }

  #map {
    border: 2px solid variables.$primary-color;
    width: 40rem;
    height: 25rem;
    margin: 0 auto;
    padding: 0.6rem;
  }
}
