//Färgpalett
$primary-color: #00587b;
$secondary-color: #b77a7a;
$accent-color: #ffbdbd;

$background-light: #f8f8f8;
$background-dark: #1a1a1a;
$text-light: #ffffff;
$text-dark: #333;

$button-bg: #efefef;
$button-text: #000;

// Skuggor
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

// Typsnitt
$font-stack: "Work Sans", sans-serif;

